@use "@styles/variables" as *;

.workspace-super-header {

  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;

  .main {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    align-items: center;
    height: 40px;
    gap: 16px;
    .info {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 4px;
      padding-left: 16px;
      height: 100%;
      h3 {
        font-size: $text-size-l;
        font-weight: $text-weight-bold;
        color: $content-color-primary;
        line-height: 1;
        max-width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .desc {
        position: relative;
        line-height: 1;
        padding-left: 8px;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $text-size-m;
        color: $content-color-secondary;
        &::before {
          content: '';
          display: inline-block;
          width: 4px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: lightgrey;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .environment-select {
      height: 100%;
      padding: 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $border-color-default;
      .ant-select-selector {
        font-size: $text-size-m;
        border-radius: $border-radius-default;
      }
    }
    //border-right: 1px solid $border-color-default;
  }

  .side {
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25%; // Centers the border vertically
      height: 50%;
      width: 1px;
      background-color: $border-color-default; // Same as original border color
    }

    .rs-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      cursor: pointer;
      text-align: center;
      border-radius: $border-radius-default;

      &:hover {
        background-color: rgb(237, 237, 237);

        .anticon {
          color: $content-color-primary;
        }
      }

      .anticon {
        font-size: 16px;
        color: $content-color-secondary;
      }
    }
  }
}