@use "@styles/variables" as *;

.forgot-password-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 64px;
  box-sizing: border-box;

  &::before {
    background: linear-gradient(0deg, $base-color-brand 0, rgba(255, 180, 0, 0) 100%);
    content: "";
    height: 100vh;
    left: 50%;
    position: fixed;
    transform: translateX(-50%) translateY(50%);
    width: 100%;
    z-index: -1;
  }


  .login-form {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 32px;
    background-color: $background-color-primary;
    border-radius: $border-radius-l;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h2 {
      font-weight: 600;
      font-size: $text-size-xxxl;
      color: $content-color-primary;
    }

    .sub {
      color: $content-color-primary;
      text-align: center;
      font-size: 12px;
    }

    .form-input {
      width: 100%;
      margin-bottom: 19px;
      margin-top: 16px;

      .ant-form-item-label {
        padding: 0px;
      }

      .ant-form-item-explain-error {
        font-size: $text-size-m;
        color: $content-color-error;
      }

      .ant-input-status-error {
        border-color: $content-color-error;
      }

      label {
        font-weight: 600;
        color: #6B6B6B;
        font-size: $text-size-m;
      }

      input {
        font-size: $text-size-m;
      }
    }

    .submit-btn {
      width: 100%;
      background-color: $background-color-button-primary;
      font-weight: $text-weight-bold;
      transition: background-color .2s ease-in-out;
      color: $content-color-constant;
      cursor: pointer;
      padding: 6px 16px;
      outline: none;
      border: none;
      border-radius: $border-radius-default;
      font-size: $text-size-m;

      &:hover {
        background: $background-color-button-primary-hover !important;
      }
    }

    .message {
      background-color: #0CBB52;
      color: $content-color-primary;
      font-size: 12px;
      //color: rgb(0, 127, 49);
      background-color: #C1D8C3;
      padding: 8px;
      border-radius: $border-radius-default;
    }

    .link {
      font-size: 12px;
      margin-top: 8px;
      color: $content-color-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}