@use "@styles/variables" as *;

.app-delete-modal {
  .ant-modal-title {
    color: $content-color-primary;
  }
  .modal-content {
    font-size: 12px;
    color: $content-color-primary;
    margin: 16px 0;
  }

  .cancel-btn {
    font-size: $text-size-m;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.334;
    height: 32px;
    padding: 0px 12px;
    background-color: rgb(242, 242, 242);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(33, 33, 33);

    &:hover {
      background-color: rgb(237, 237, 237);
    }
  }

  .delete-btn {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.334;
    height: 32px;
    padding: 0px 12px;
    background-color: rgb(235, 32, 19);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
    font-weight: 600;

    &:hover {
      background-color: rgb(176, 32, 22) !important;
    }
  }
}