@use "@styles/variables" as *;

.request-editor-url {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .editor-url {
    width: 70vw;
    height: 40px;

    .ant-select {
      width: 90px;
      height: 40px;
    }

    .ant-select-selector {
      border-bottom-left-radius: $border-radius-default !important;
      border-top-left-radius: $border-radius-default !important;
    }

    .url {
      width: 90%;
    }
  }

  .editor-action {
    height: 40px;

    &.ant-btn {
      font-weight: $text-weight-bold;
      font-size: $text-size-l !important;
    }
  }
}

.request-editor-url-main {
  padding: 0 16px;
  font-size: $text-size-m;

  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 8px;

    &::before {
      border: none;
    }

    .ant-tabs-tab {
      padding: 0;
    }
  }

  .ant-tabs-top, .ant-input {
    font-size: $text-size-m;
  }

  & >.ant-tabs {
    & > .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
      .ant-tabs-tab {
        color: $content-color-secondary;
        border-bottom: 1px solid transparent;
        font-size: $text-size-m;

        &.ant-tabs-tab-active {
          border-bottom-color: $base-color-brand;

          .ant-tabs-tab-btn {
            color: $content-color-primary;
          }
        }
      }
    }
  }
}

.request-editor-url-main .request-editor-params {
  & > .title {
    font-weight: 600;
    color: #6B6B6B;
    margin-bottom: 8px;
    font-size: 13px;
  }
}

.request-editor-url-main .request-table {
  border: 1px solid $border-color-default;
  border-bottom: none;
  color: $content-color-secondary;
  font-weight: $text-weight-thick;

  & > .table-header {
    display: grid;
    grid-template-columns: minmax(30px, 0.1fr) 1fr 1fr 1fr minmax(20px, 0.1fr);
    border-bottom: 1px solid $border-color-default;

    div {
      padding: 10px;

      &:nth-child(2),
      &:nth-child(3) {
        border-left: 1px solid $border-color-default;
      }

      &:nth-child(3) {
        border-right: 1px solid $border-color-default;
      }
    }
  }

  & > .table-body {
    & > .row {
      display: grid;
      grid-template-columns: minmax(30px, 0.1fr) 1fr 1fr 1fr minmax(20px, 0.1fr);
      border-bottom: 1px solid $border-color-default;

      &.disabled {
        cursor: not-allowed;
        background-color: rgba(239, 239, 239, 0.3);

        input {
          cursor: not-allowed;
          background-color: transparent;
        }
      }

      input[type='text'] {
        flex: 1;
        padding: 4px 8px;
        border-radius: 3px;
        outline: none;
        border: 1px solid transparent;
        color: #212121;

        &:focus {
          border-color: $border-color-default;
        }
      }

      .selected-col {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;

        input[type='checkbox'] {
          width: 16px;
          aspect-ratio: 1/1;
          cursor: pointer;
          border-radius: 4px;
        }
      }

      .key-col,
      .value-col,
      .content-col {
        display: flex;
        padding: 4px;
      }

      .key-col {
        border-left: 1px solid $border-color-default;
      }

      .value-col {
        border-left: 1px solid $border-color-default;
        border-right: 1px solid $border-color-default;
      }

      .action-col {
        display: flex;
        justify-content: center;
        align-items: center;

        .remove-icon {
          cursor: pointer;
          color: grey;
          position: relative;

          &:hover {
            color: #9c3328;
          }
        }
      }
    }
  }
}

.request-editor-authorization {
  display: grid;
  grid-template-columns: 1fr 2.5fr;

  .left-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 12px;
    padding-bottom: 12px;

    h3 {
      font-weight: 600;
      color: #6B6B6B;
      margin-bottom: 8px;
      font-size: 13px;
    }

    .auth-selector {
      width: 100%;
      margin-bottom: 8px;
      font-size: $text-size-m !important;

      .ant-select-selector {
        font-size: $text-size-m;
      }
    }
  }

  .right-container {
    height: 100%;
    padding-left: 12px;
    padding-bottom: 12px;
    border-left: 1px solid $border-color-default;

    .empty-message {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: $text-size-m;
    }

    .form-rows {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .form-row {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          flex: 1;
          min-width: 196px;
          max-width: 280px;
          align-self: flex-start;
          padding-top: $spacing-m;
          margin-right: $spacing-l;
        }

        input {
          margin-top: $spacing-m;
          min-width: 196px;
          max-width: 280px;
          min-height: 32px;
        }

        .input-group {
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: 4px;
          .ant-checkbox-wrapper {
            font-size: $text-size-m;
          }

          .react-codemirror2 {
            border: 1px solid $border-color-default;
            width: 280px !important;
            .CodeMirror {
              height: 200px;
              width: 280px !important;
            }
          }
        }
      }
    }
  }
}

.request-editor-body {
  & >.ant-tabs {
    & > .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
      .ant-tabs-tab {
        padding: 0;
        color: $content-color-secondary;
        border-bottom: 1px solid transparent;
        font-size: $text-size-m;
        height: fit-content;
        &.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: $content-color-primary;
          }
        }
      }
    }

    .body-type-selector {
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
        transform: scale(0.9);
      }
    }
  }


}

.request-editor-body .request-editor-body-form-data {
  .request-form-data-table {
    border: 1px solid $border-color-default;
    border-bottom: none;
    color: $content-color-secondary;
    font-weight: $text-weight-thick;

    & > .table-header {
      display: grid;
      grid-template-columns: minmax(30px, 0.1fr) 1fr 1fr 1fr minmax(20px, 0.1fr);
      border-bottom: 1px solid $border-color-default;

      div {
        padding: 10px;

        &:nth-child(2),
        &:nth-child(3) {
          border-left: 1px solid $border-color-default;
        }

        &:nth-child(3) {
          border-right: 1px solid $border-color-default;
        }
      }
    }

    & > .table-body {
      & > .row {
        display: grid;
        grid-template-columns: minmax(30px, 0.1fr) 1fr 1fr 1fr minmax(20px, 0.1fr);
        border-bottom: 1px solid $border-color-default;

        &.disabled {
          cursor: not-allowed;
          background-color: rgba(239, 239, 239, 0.3);

          input {
            cursor: not-allowed;
            background-color: transparent;
          }
        }

        input[type='text'] {
          flex: 1;
          padding: 4px 8px;
          border-radius: 3px;
          outline: none;
          border: 1px solid transparent;
          color: #212121;

          &:focus {
            border-color: $border-color-default;
          }
        }

        .selected-col {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;

          input[type='checkbox'] {
            width: 16px;
            aspect-ratio: 1/1;
            cursor: pointer;
            border-radius: 4px;
          }
        }

        .key-col,
        .value-col,
        .content-col {
          display: flex;
          padding: 4px;
        }

        .key-type-col {
          border-left: 1px solid $border-color-default;
          display: flex;
          align-items: center;
        }

        .key-col {
          flex: 1;
        }

        .type-col {
          border-left: 1px solid $border-color-default;
          height: 100%;
          padding-left: 4px;
          .ant-select {
            .ant-select-selector {
              border: none;
              box-shadow: none;
              .ant-select-selection-item {
                font-size: $text-size-m;
              }
            }

            .ant-select-arrow {
              font-size: $text-size-xs;
            }
          }
        }

        .value-col {
          border-left: 1px solid $border-color-default;
          border-right: 1px solid $border-color-default;

          .file-upload {
            font-size: $text-size-m;
            cursor: pointer;
            padding: 5px 5px 5px 0;
            flex: 1;
            border-radius: $border-radius-default;
          }

          .file-upload::file-selector-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-weight: $text-weight-thick;
          }
        }

        .action-col {
          display: flex;
          justify-content: center;
          align-items: center;

          .remove-icon {
            cursor: pointer;
            color: grey;
            position: relative;

            &:hover {
              color: #9c3328;
            }
          }
        }
      }
    }
  }
}