@use "@styles/variables" as *;

#body {
  display: grid;
  grid-template-columns: 1fr 4fr;

  .master-menu-wrapper {

  }

  .master-main-wrapper {
    .header {
      height: 40px;
      border-bottom: 1px solid $border-color-default;
    }

    .main {
      position: relative;

      .sidebar {
        position: absolute;
        top: 0;
        right: 0;

      }
    }
  }
}

