@use "@styles/variables" as *;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-size: 12px;
    color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    .ant-tabs-ink-bar {
        background-color: transparent;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.master-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-dropdown-menu-title-content {
    font-size: 12px;
}

.ant-modal .ant-modal-content {
    padding: 0;
}

.rs-tooltip {
    font-size: 12px;
    .ant-tooltip-inner {
        color: #212121;
    }
}

.ant-btn, .ant-input, .ant-select{
    border-radius: $border-radius-default;
}



#body {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .master-menu-wrapper {

    }

    .master-main-wrapper {
        .ant-btn {
            font-size: $text-size-m;
        }

        & > .mmw-header {
            height: 40px;
            border-bottom: 1px solid $border-color-default;
        }

        & > .mmw-main {
            position: relative;
            & > .rm-main {
                width: calc(100% - 48px);
                position: absolute;
                right: 48px;
                .request-header {
                    padding: 8px 16px;
                }

                .request-main {

                }
            }

            & > .sidebar {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}