@use "@styles/variables" as *;
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  font-size: 12px;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  .ant-tabs-ink-bar {
    background-color: transparent;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.master-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-dropdown-menu-title-content {
  font-size: 12px;
}


.rs-tooltip {
  font-size: 12px;

  .ant-tooltip-inner {
    color: #212121;
  }
}

.ant-btn, .ant-input, .ant-select {
  border-radius: $border-radius-default;
}

.ant-select-dropdown .ant-select-item {
  font-size: 12px;
}


#body {
  display: grid;
  grid-template-columns: 350px 4fr;

  .master-menu-wrapper {
    width: 350px;
  }

  .master-main-wrapper {

  }
}


#axios-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;

  /* From Uiverse.io by G4b413l */

  .wrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      transform: translate(-50%, -50%);
    }

    &:before {
      animation: before8 2s infinite;
    }

    &:after {
      animation: after6 2s infinite;
    }
  }

  @keyframes before8 {
    0% {
      width: 0.5em;
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
      width: 2.5em;
      box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
      width: 0.5em;
      box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
  }

  @keyframes after6 {
    0% {
      height: 0.5em;
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
      height: 2.5em;
      box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
      height: 0.5em;
      box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
  }

  .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
  }

}

#page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      transform: translate(-50%, -50%);
    }

    &:before {
      animation: before8 2s infinite;
    }

    &:after {
      animation: after6 2s infinite;
    }
  }

  @keyframes before8 {
    0% {
      width: 0.5em;
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
      width: 2.5em;
      box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
      width: 0.5em;
      box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
      box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
  }

  @keyframes after6 {
    0% {
      height: 0.5em;
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
      height: 2.5em;
      box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
      height: 0.5em;
      box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
      box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
  }

  .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
  }
}


.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
}

.ant-input-outlined.ant-input-disabled, .ant-input-outlined[disabled] {
  background-color: transparent;
}

.text-editor {
  .ql-container {
    font-family: Inter, serif !important;
    color: $content-color-primary;
  }
}

body .app-markdown-editor {
  font-size: 18px !important;

  .wmde-markdown {
    font-size: 15px !important;
  }
}

body {
  .ant-input-disabled {
    color: $content-color-primary !important;
  }

  .app-markdown-editor {
    .wmde-markdown {
      font-size: 14px !important;
      font-family: Inter, serif !important;

      p {
        margin: 0 !important;
        margin-top: 8px !important;
      }

      h4 {
        margin: 0 !important;
        margin-top: 16px !important;
      }

      h3 {
        margin: 0 !important;
        margin-top: 20px !important;
      }

      ul {
        margin-bottom: 0 !important;
      }
    }
  }
}